<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4" style="display: inline-block;" id="<%= sermao.id %>">
    <div class="thumbnail">
        <p><strong><%= sermao.titulo %></strong></p>
        <p><%= sermao.descricao %></p>
        <p>Pregador: <%= sermao.pregador %></p>
        <button class="btn" >Ouvir</button>
    </div>
</div>