<div class="container">
<div class="wraptext"> 
    <div class="text-left">
        <h1 class="tema">A fé vem por ouvir a Palavra de Deus!</h1>
        <p >What can I expect?: Now that you’ve made your initial introduction, it’s
        time to explain to your potential new visitor what they can expect upon
        attending your church for the first time as well as provide answers to
        their questions.</p>

        <p>Consider this: As our culture becomes more “unchurched,” don’t simply
        expect your new visitors to have an inherent understanding of what goes
        on in a church service. Spell it out in black and white - be precise.</p>    
    </div>
</div>
</div>

<div class="container">
<div class="wraptext">

<div class="s row text-center"> 
    <%= render @sermaos%>
</div>

<div class="b row text-center"> 
<a href="/mais/<%=@sermaos.last.id %>" class="show-more btn" data-remote="true" role="button" style="margin-top: 10px;" aria-pressed="true">Mostrar Mais ></a>
</div>
</div>
</div>