* {
	font-family: 'PT Sans', sans-serif !important;
}

.mynav{
	background-size: cover;
	height: 500px;
	text-align: center;
	color: #FFF;	
}

.navbar{
	background-color: rgba(0, 0, 0, 0.075) !important;
}

.black {
	background-color: rgba(0, 0, 0, 0.8) !important;
}

.navbar .navbar-brand{
	color: #FFF;
	font-weight: bolder;
	font-size: 1.3em;
}

.navbar .nav-item a{
	color: #FFF !important;
	
}

.wrap {
	width: 90%;
	max-width: 11000px;
	margin: 0 auto;
}

.wraptext {
	width: 70%;
	max-width: 11000px;
	margin: 0 auto;	
	padding: 30px 0;
}

.toptext{
	text-align: center;
}

.icon-bar
{
  background:green !important; /*Whatever colour you want for icon lines*/
}
.navbar-toggle
{
  background:white !important; /*Whatever colour you want for background */
}

.mynav .contents {
	padding: 150px 0 130px;
  }
  
.mynav .contents h1 {
	color: #fff;
	font-size: 50px;
	font-weight: bolder;
	margin-bottom: 15px;
}
  
.mynav .contents p {
	font-family: 'Montserrat', sans-serif !important;
	padding-top: 0px;
	font-size: 18px;
	color: #fff;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.5px;
}

.navbar .dropdown-menu{
	background-color: rgba(0, 0, 0, 0.075);
}

.dropdown-item:hover{
	background-color: rgba(0, 0, 0, 0.075) !important;
}

footer{
	padding: 0 0 24px;
    background: black;
    color: #e3e3e3;
    line-height: 1.6;
    align-items: center;
}

#new_contact .form-group, #new_visitum .form-group{
	margin: 25px 0;
}

#map {
	height: 70%;
	width: 100%;
}

.ilideres {
	height: 200px;
	width: 200px;
}

#proximo-encontro{
	width: 100%;
	//background-size: cover !important;
    //background-position: center !important;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	font-weight: bolder;
	color: black;
	
}

#proximo-encontro h3{
	font-size: 40px;	
}

#proximo-encontro h4, #ultimos-sermoes h4{
	font-size: 25px;	
}

#ultimos-sermoes{
	width: 100%;
	//background-size: cover !important;
    //background-position: center !important;
    
	font-weight: bolder;
	color: black;
}
