<h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Declaração de Fé</h1>
<div class="wraptext"> 
<p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Leia e veja em que cremos!</p>

</div>