<footer id="direcoes">
<div class="wrap">
<div class="row">
        <div class="col-sm-4" width="100%" style="height: 300px;">
        <h3>LOCALIZAÇÃO E DIRECÇÕES</h3>
        Rua Pau de Bandeira, 22-A (à Av. Infante Santo)<br>
            <div id="map"></div>
        </div>
        <div class="col-sm-4" width="100%" style="height: 300px;">
        <h3>EM QUE CREMOS</h3>
          <a href="confissao-de-fe-de-westminster.pdf" target="blink" style="color: white;">Confissão de Fé de Westminster</a><br>
          <a href="o-breve-catecismo-de-westminster.pdf" target="blink" style="color: white;">O Breve Catecismo de Westminster</a><br>
          <a href="catecismo-maior-de-westminster.pdf" target="blink" style="color: white;">Catecismo Maior de Westminster</a>
        </div>
        <div class="col-sm-4" width="100%" style="height: 300px;">
                <h3>HORÁRIOS</h2>
                 Domingo<br>
             09:00 - Escola Bíblica Dominical <br>
             10:00 - Culto Devocional <br>
                 <br>
             Sábado <br>
               15:00 - Reunião da Mocidade, Leitura Bíblica e Partilha
        </div>
        
</div>
</div>
</footer>