<h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Fotos</h1>
<div class="wraptext"> 
<p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Veja algumas fotos nossas e de nossas actividades!</p>

</div>