<h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Igreja Presbiteriana Vtória</h1>
<div class="wraptext"> 
<p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Somos uma igreja! Portanto, falamos muito de Cristo, lemos muito a Sua palavra, cantamos muito sobre Ele e O proclamamos muito.</p>

</div>