<h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Líderes</h1>
<div class="wraptext"> 
<p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Conheça os lideres da Vitória!</p>

</div>