<h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Visita</h1>
<div class="wraptext"> 
<p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Deseja fazer-nos uma visita? Estamos aberto a recebê-lo e compartilharmos de Jesus!</p>

</div>